{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Hello, world!{% endblock title %}</title>
  </head>
  <body>
 <header>
    <!-- Fixed navbar -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
     mb-3 bg-white border-bottom shadow-sm">
      <a href="#" class="navbar-brand my-0 mr-md-auto
      font-weight-normal">Ethiopian Book Store</a>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Search</a>
          <a class="p-2 text-dark" href="#">Log Out</a>
          <a class="p-2 text-dark" href="#">Log In</a>
          <a class="btn btn-outline-primary"
            href="#">Sign Up</a>
      </nav>
    </div>
  </header>
     <div class="container">
       {% block content %}

       {% endblock content %}
     </div>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
